best_hypercnnv2.pth
CIFAR-Standar.ipynb
best_model.pth
Convert.ipynb
Dataset.ipynb
imagenet_sampled.zip
imagenet_sampled
demo_data_chunks
datalflash.egg-info
__pycache__
data
horse.jpg
verify_core.py
verify_demo.py
main.ipynb
Testing.ipynb
test_optimizations.py